/*----------------------------- ELEMENTAL STYLING -----------------------------*/
body, html{
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  width: 100%;
}

a{
  text-decoration: none;
  color: #eee;
  margin: 0 0 ;
}

a:hover {
  color: #ff9c91;
}

ul {
  padding: 0;
}

li {
  margin-right: 5vw;
  font-size: calc(10px + 0.5vw);
}

svg{
  margin: 0 auto;
}

h1{
  font-size: calc(42px - 0.9vw);
}

h2{
  font-size: calc(40px - 0.9vw);
}

h3{
  font-size: calc(39px - 0.9vw);
}

h4{
  font-size: calc(38px - 0.9vw);
}

h5{
  font-size: calc(37px - 0.9vw);
}

h6{
  font-size: calc(33px - 0.9vw);
}

p, a{
  font-size: calc(32px - 0.9vw);
}


/*----------------------------- GENERAL STYLING -----------------------------*/

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-col{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 2.5vw;
}

.align-center{
  text-align: center;
}

.space-around{
  justify-content: space-between;
}

.center-vertically{
  margin: auto;
}

.button-clear{
  border: none;
  background-color: inherit;
  font-size: inherit;
}

/*----------------------------- HEADER STYLING -----------------------------*/



.flex-row ul, li {
  list-style: none;
  display: inline;
  align-content: center;
}

.flex-row h1 {
  display: inline;
  font-size: calc(40px - 1.0vw);
}

.flex-row h1 {
  color: #eee;
  padding:0;
  margin: auto 5vw;
}

.header{
  display: inline-flex;
  position: fixed;
  background-color: #393e46;
  font-weight: bold;
  z-index: 200;
  padding-top:1vh;
  padding-bottom: 1vh;
  max-height: 15vh;
  width:100%;
  margin: 0;
}

.menu-bar-hidden{
   border: transparent;
   margin-right: 5vw;
   padding: 2 10px;
   background-color: transparent;
}

.menu-bar-displayed{
  border: transparent;
  margin-right: 5vw;
  background-color: transparent;
}

.line1, .line2, .line3 {
  width: 42px;
  height: 4px;
  background-color: #eee;
  margin: 10px 0;
  border-radius: 90px;
  transition: 0.5s
}

.menu-bar-displayed .line1 {
  width: 28px;
  transform: rotate(-120deg) translate(-18px, -11px);
}

.menu-bar-displayed .line2 {
  transform: rotate(-90deg)
}

.menu-bar-displayed .line3 {
  width: 28px;
  transform: rotate(-60deg) translate(12px, 9px);
}

.menu-dropdown-displayed{
  position: fixed;
  transition: all 0.5s ease-in-out; 
  background-color: #dadddf;
  z-index: 100;
  top: 7vh;
  margin: 0 auto;
  padding: 3vh 3vw 2vh;
  display: block;
  width:100vw;
  text-align: center;
}

.menu-dropdown-displayed{
  margin: 0;
  padding: 6.0vh 0 4vh;
}

.menu-dropdown-hidden{
  position: fixed;
  display: hidden;
  top:-25vh;
  transition: all 0.5s ease-out; 
}

.menu-dropdown-displayed a{
  color:#393e46;
  display: block;
}

.menu-dropdown-displayed a:hover {
  transition: 0.2s;
  font-weight: 600;
  color: #ff9c91;
}


/*----------------------------- LANDING PAGE -----------------------------*/

@keyframes pulse {
  from {opacity: 0;}
  to {opacity: 80;}
}

.landing-container{
  display: inline-flex;
  flex-direction: column;
  background-color: #2d3561;
  height:100%;
  width: 100%;
  padding:0;
  margin:0;
}

.landing-font{
  margin:0;
  padding: 25vh 20vw;
  color: #eee;
  text-align: center;
}

.typing-container{
  height: 85vh;
}

.scroll-container{
  height:15vh;
  line-height: normal;
  display: inline-block;
  margin: auto;
  vertical-align: middle;
}

.scroll1, .scroll2, .scroll3{
  margin: 0 auto;
  opacity: 50%;
  padding: 0.75vh;
  border: 3px solid white;
  border-top: none;
  border-right: none;
  width: 10px;
  height: 10px;
  transform: rotate(-45deg)
}

.scroll1{
  animation-delay: 1.0s;
  animation: pulse 2.0s ease-in-out;
  animation-delay: 1.0s;
  animation-iteration-count: infinite;
}

.scroll2{
  animation-delay: 1.5s;
  animation: pulse 2.0s ease-in-out;
  animation-delay: 1.5s;
  animation-iteration-count: infinite;
}

.scroll3{
  animation-delay: 2.0s;
  animation: pulse 2.0s ease-in-out;
  animation-delay: 2.0s;
  animation-iteration-count: infinite;
}


/*----------------------------- ABOUT PAGE -----------------------------*/

.about-container{
  display: block;
  background-color: #17A398;
  height: minmax(100vh, 100%);
}

.about{
  padding: 25vh 22.5vw;
  color:#fae3d9;
}

.visible{
  -webkit-transition: opacity 1.5s ease-in;
  -moz-transition: opacity 1.5s ease-in;
   -ms-transition: opacity 1.5s ease-in;
    -o-transition: opacity 1.5s ease-in;
       transition: opacity 1.5s ease-in;
}

.hidden{
  opacity: 0;
  display: hidden;
}

/*----------------------------- EXPERIENCE PAGE -----------------------------*/

@keyframes gradient {
  0% {
    background: radial-gradient(circle at center, rgba( 23,105,163, 0 ) 0%, #fff 0%, #fff 100%);
  }
  25% {
    background: radial-gradient(circle at center, rgba( 23,105,163, 0.3 ) 24%, #fff 25%, #fff 100%);
  }
  50% {
    background: radial-gradient(circle at center, rgba( 23,105,163, 0.5 ) 49%, #fff 50%, #fff 100%);
  }
  75% {
    background: radial-gradient(circle at center, rgba( 23,105,163, 0.8 ) 74%, #fff 75%, #fff 100%);
  }
  100% {
    color: #fff;
    background: radial-gradient(circle at center, #1769a3 99%, #fff 100%, #fff 100%);
  }
}

.experience-container{
  color: #17A398;
  display: block;
  background-color: #f2f4f6;
  height: minmax(100%, 100vh);
  padding: 10vh 15vw;
}

.button-experience{
  background-image: radial-gradient( rgb(23,163,152, 0.6), rgba(23,163,152,0.5));
  border: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-top: -8px;
}

.button-experience:hover{
  background-image: radial-gradient( rgb(23,163,152, 0.8), rgba(23,163,152,0.7));
}

.button-experience:active{
  animation: gradient 500ms;
}

.dtl-exp{
  padding: 0;
  margin: 3vh;
}

.exp-header{
  margin-top: 5vh;
  margin-bottom: 0;
  display: block;
}

.expert h5, .proficient h5, .capable h5{
  margin-top:0.5vh;
}

.expert .flex-col:hover,
.proficient .flex-col:hover, 
.capable .flex-col:hover{
  color:  rgb(23,163,152, 0.6);
 }

 .expert, .proficient, .capable{
   background-color: rgba(45,53,97,0.05);
   padding: 2vh 2vw;
 }

 .exp-header{
  background-color: rgba(45,53,97,0.05);
  padding: 3vh 5vw;
 }

 /*----------------------------- PORTFOLIO PAGE -----------------------------*/

 .site-container{
  color: #17A398;
  display: block;
  background-color: #f2f4f6;
  height: minmax(100%, 30vh);
  padding: 10vh 5vw;
}


 .portfolio-container{
  background-color: rgba(45,53,97,0.05);
  color: #17A398;
  display: block;
  padding: 15vh 10vw 25vh;
  height: minmax(100vh, 100%);
}

.sites-container{
  background-color: rgba(45,53,97,0.05);
  padding: 1vh 3vw;
}

.sites-container p, h5, h6, img, a, h2{
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 1vh 1vw;
}

.sites-container a {
  font-size: calc(40px - 1.0vw);
}

.flex-col-port{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  margin: 1vh 2vw;
  padding: 2vh 3vw;
}

.flex-col-port img {
  margin: 1vh auto;
  width: 90%;
  height: auto;
}

.flex-col-port a{
  color: #2d3561;
  font-weight: 800;
}

.click{
  margin: 0 auto;
  opacity: 50%;
  padding: 0.75vh;
  border: 3px solid #2d3561;
  border-top: none;
  border-right: none;
  width: 20px;
  height: 20px;
  transform: rotate(-45deg)
}

.click{
  animation-delay: 1.0s;
  animation: pulse 2.0s ease-in-out;
  animation-delay: 1.0s;
  animation-iteration-count: infinite;
}